.square{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chessBoard{
    border: solid 1px black;
    width: 400px;
    height: 400px;
    display: inline-flex;
    flex-wrap: wrap;
}

.piece{
    width: 50px;
    height: 50px;
}

#playerTurn{
    font-family: "Arial", sans-serif;
    font-size: 20px;
    margin-left: 5px;
}

.container{
    display: flex;
}

.container1 {
    display: flex;
    padding-top: 10px;
    width: 400px;
    justify-content: space-between;
}

#moveColor {
    height: 20px;
    width: 20px;
    border: solid 1.5px black;
    border-radius: 2.5px;
    background-color: white;
}

#lastMoveBox {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    text-align: center;
    height: 20px;
    width: 100px;
    border: solid 1.5px black;
    border-radius: 2.5px;
    margin-left: 5px;
}
